.rightbar {
    flex: 2.5;
    width: 300px;
    padding: 16px;
    background-color: #f9fafb;
    border-left: 1px solid #e5e7eb;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
}
@media (max-width: 768px) {
    .rightbar {
        display: none;
    }
}